MONGODB_URI=mongodb://mongo:27017/scrumboard

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Socket.io
NEXT_PUBLIC_SOCKET_SERVER_URL=http://localhost:3001

# Mailpit
MAILPIT_HOST=localhost
MAILPIT_SMTP_PORT=1025
MAILPIT_API_PORT=8025
